.user_show
  %h2 Your Experiences

  .actions
    %div.left#create-experience= link_to 'Create experience', new_experience_path
    %div.left#my-experience= link_to 'View Experiences', experiences_path(user_id: current_user.id)
    %div#archived-experiences= link_to 'Archived Experience', archived_experiences_path

  - @experiences.each do |experience|
    .small-cards{data: {id: experience.id}}
      .card
        .card-image= image_tag experience.image_url
        .card-header
          = experience.title
          .right= experience.date.strftime("%B %-d, %Y" ) if experience.date.present?
        .card-copy
          %p= experience.description
          %button.archive.right{data: {url: experience_path(id: experience.id)}} Archive
